* {
  margin: 5px;
}

body {
  background-color: #f5f6fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
}
.app__header {
  display: flex; 
  align-items: center;   
  margin-bottom: 20px;
  justify-content: space-between
} 
.app__left {
  flex: .85;
  border: red solid;
}
.app__right {
flex-direction:column;
border: red solid;
}

.app__stats__top {
  flex-direction:column;
  border: red solid;
  }
.app__stats {
  /* justify-content:space-between; */
  border: red solid;
  display:flex;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
    .app {
      flex-direction:column
    }
}

.chart {
  height: 100%;
  background-color: white;
  border: red solid;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
}
/* div {
  border: orange solid
} */