* {
  margin: 5px;

}


.app {
  display: flex;
  justify-content: space-evenly;
}
.app__header {
  display: flex; 
  align-items: center;   
  margin-bottom: 20px;
  justify-content: space-between;
  /* flex-wrap: wrap; */
} 
.app__left {
  flex: .8;
  min-width: 70%;
  max-width: 5%;
  justify-content: space-evenly;
}
.app__right {
width: 100%;
margin-top: 100px;
border: silver solid 2px;
}
.MuiCard-root {
  border-radius: 20px;
  color:red;
  border: solid black 2px;
  justify-content: space-evenly;
}
/* class="MuiPaper-root MuiCard-root app__right MuiPaper-elevation1 MuiPaper-rounded" */
.app__stats {
  /* justify-content:space-evenly; */
  display:flex;
  height: 15%;
  min-width: 20px;
  font-size: 2vmin;
  padding: auto;
  border-radius: 20px;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

@media (max-width:1100px) {
    .app {
      flex-direction:column
    }
}

.chart {
  height: 100%;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
  
}
/* div {
  border: orange solid
} */


h2 {
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

h1 {
  color: rgb(49, 49, 49);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 40pt;
}



body {
  margin: 20px;
  padding: 10px; 
  background-color: #0474BA;
}

.pieChart {
  width: 200px;
  height: 200px;
}
