* {
  margin: 5px;
}


.app {
  display: flex;
  justify-content: space-evenly;
}
.app__header {
  display: flex; 
  align-items: center;   
  margin-bottom: 20px;
  justify-content: space-between
} 
.app__left {
  flex: .85;
  /* min-width: 70%;
  max-width: 5%; */
}
.app__right {
flex-direction:column;
background-color: lightblue;
color: grey;

}

.app__stats__top {
  display: flex;
  flex-direction: column;
  flex: .25;

  }

.app__stats {
  /* justify-content:space-between; */
  display:flex;
  justify-content: space-around;
  height: 15%;
  min-width: 20px;
  font-size: 2vmin;
  padding: auto;
  background-color: black
  border-readius px;
}

@media (max-width: 1000px) {
    .app {
      flex-direction:column
    }
}

.chart {
  height: 100%;
  margin-top: 16px;
  box-shadow: 0 0 8px -4px rgba(0,0,0,0.5);
}
/* div {
  border: orange solid
} */


body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: rgb(255, 248, 187);
  height: 100vh;
  width: 100vw;
}

h2 {
  color: black
}

h1 {
  color: black;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40pt;
}