.table {
  margin-top: 20px;
  overflow: scroll;
  height:400px;
  color: black
}

.table tr{
  display: flex;
  justify-content: space-between;
}
.table tr:nth-of-type(odd) {
  background-color:rgb(163, 182, 202);
} 