
.table {
  /* margin-top: 20px; */
  overflow: scroll;
  height:450px;
  color: black;
  display: flex;
  flex-direction: column;
  border-color: green;
  border: solid;
  border-radius: 20px;

}

.table tr{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  width: 100%;
}
/* .table tr:nth-of-type(odd) {
  background-color:rgb(255, 255, 255);
  color: rgb(14, 14, 14)
}  */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  box-sizing:content-box
}

.table {
  /* background: #012B39; */
  border-radius: 0.25em;
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 350px;
}

th {
  color: #000000;
  font-size: 1.2em;
  /* font-weight: 600; */
  padding: 1em .7em;
}
td {
  /* color: #fff; */
  font-weight: 400;
  padding: 0.5em 1em;
}
.disabled td {
  color: #4F5F64;
}
tbody tr {
  transition: background 0.25s ease;
}
tbody tr:hover {
  background: #0181ac;
  color: white;
}

